/*csslint box-sizing: false*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;
    background-color: #f2f2f2;
    font-size: 13px;
    line-height: 24px;
}

/*Style the top navigation bar*/

.topnav {
    margin: 10px;
    padding: 0;
    overflow: hidden;
    text-align: left;
}

/*Style the topnav links*/

.topnav a {
    display: inline-block;
    white-space: nowrap;
    cursor: pointer;
    /*display: block;*/
    color: #757575;
    /*display: inline-block;*/
    padding: 22px;
    text-decoration: none;
    transition: color 0.3s ease-out;
    vertical-align: middle;
    line-height: 16px;
}

.topnav a:hover {
    color: #3abdba;
    transition: color 0.3s ease-out;
}

.dropdown {
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.dropdown button.dropbtn {
    border: none;
    outline: none;
    color: #757575;
    padding: 22px;
    background-color: inherit;
    font-family: Lato, sans-serif;
    font-size: 13px;
    line-height: 16px;
}

.dropdown .dropbtn a {
    font-size: 13px;
    border: none;
    /*outline: none;*/
    color: #757575;
    padding: 22px;
    background-color: inherit;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    color: #3abdba;
    transition: color 0.3s ease-out;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ccc;
    width: auto;
    left: 80px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.charts-dropdown .menu-column {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.dropdown-content .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.menu-column {
    float: left;
    /*width: 30%;*/
    padding: 10px;
    background-color: #ccc;
}

.menu-column a {
    float: none;
    color: black;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}

/*Clear floats after the columns*/

.row:after-1 {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media (max-width: 600px) {
    .column {
        width: 100%;
        height: auto;
    }
}

.main-image {
    background-image: url("../img/main-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    position: relative;
    height: 725px;
    width: 100%;
}

.button-container {
    margin: 50px 0 50px;
}

.downloadButton {
    -webkit-appearance: none;
    border: none;
}

.downloadButton a {
    background-color: limegreen;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
}

.select-property {
    position: relative;
}

.select-property select {
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 10px;
    color: black;
    border: 1px solid darkgray;
}

/*
.main-image h2{
	font-size: 50px;
	color: orange;
	text-shadow: 1px 1px 1px #000;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
*/

.specific-charts {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
}

.charts-title {
    font-size: 24px;
    line-height: 40px;
    color: #282828;
}

.link-photo {
    background-image: url("../img/pie-chart.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    width: 400px;
    height: 300px;
    position: relative;
}

.link-photo:first-of-type {
    margin-right: 30px;
}

.bar-chart {
    background-image: url("../img/bar-chart.jpg");
}

.line-chart {
    background-image: url("../img/line-chart.jpg");
}

.map-chart {
    background-image: url("../img/map-chart.jpg");
}

.link-photo:hover .chart-description {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.link-photo-big {
    background-image: url("../img/map-chart1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: inline-block;
    width: 835px;
    height: 500px;
    position: relative;
}

.link-photo-big:first-of-type {
    margin-right: 30px;
}

.link-photo-big:hover .chart-description {
    opacity: 1;
    transition: opacity 0.3s ease-out;
}

.chart-description {
    background-color: gray;
    background-color: rgba(0, 0, 0, 0.4);
    width: calc(100% - 30px);
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 5px 15px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

h2 {
    font-size: 16px;
}

.cursor {
    cursor: pointer;
}

h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
}

h3 span {
    color: #5383d3;
}

#map__container {
    height: 100%;
}

path:hover {
    fill: #d36f80;
}

path {
    position: relative;
}

path.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 35px;
    padding: 2px;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: grey;
    border: 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    /* pointer-events: none; */
}

path.tip {
    position: absolute;
    text-align: center;
    width: 80px;
    height: 25px;
    padding: 2px;
    font-size: 14px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 1);
    border: 0px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    /* pointer-events: none; */
}

path.tip:after {
    box-sizing: border-box;
    display: block;
    font-size: 15px;
    line-height: 0.7;
    color: rgba(0, 0, 0, 1);
    content: "\25BC";
    position: absolute;
    right: 35px;
    text-align: center;
}

.footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font-family: "open sans", sans-serif;
    font-size: 13px;
    padding: 20px 22px;
    margin-top: 0;
}

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease-out;
    white-space: nowrap;
    cursor: pointer;
}

.footer-distributed .footer-links a:hover {
    color: #3abdba;
    transition: color 0.3s ease-out;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}
