<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bar Chart cars by county and communitary category</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.min.js"></script>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div class="topnav">
            <a href="index.html"> Home </a>
            <div class="dropdown">
                <button class="dropbtn"> Pie Charts <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content charts-dropdown">
                    <div class="row">
                        <div class="menu-column">
                            <a href="pie-chart-cars-by-county-and-brand.html"> Cars by county and brand </a>
                            <a href="pie-chart-cars-by-county-and-national-category.html"> Cars by county and national
                                category </a>
                            <a href="pie-chart-cars-by-county-and-communitary-category.html"> Cars by county and
                                communitary category </a>
                            <a href="pie-chart-total-cars-by-county.html"> Total cars by county </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn"> Bar Charts <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content charts-dropdown">
                    <div class="row">
                        <div class="menu-column">
                            <a href="bar-chart-cars-by-county-and-brand.html"> Cars by county and brand </a>
                            <a href="bar-chart-cars-by-county-and-national-category.html"> Cars by county and national
                                category </a>
                            <a href="bar-chart-cars-by-county-and-communitary-category.html"> Cars by county and
                                communitary category </a>
                            <a href="bar-chart-total-cars-by-county.html"> Total cars by county </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    Line Charts <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content charts-dropdown">
                    <div class="row">
                        <div class="menu-column">
                            <a href="line-chart-cars-by-county-and-brand.html"> Cars by county and brand </a>
                            <a href="line-chart-cars-by-county-and-national-category.html"> Cars by county and
                                national category </a>
                            <a href="line-chart-cars-by-county-and-communitary-category.html"> Cars by county and
                                communitary category </a>
                            <a href="line-chart-total-cars-by-county.html"> Total cars by county </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dropdown">
                <button class="dropbtn">
                    Map Charts <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content charts-dropdown">
                    <div class="row">
                        <div class="menu-column">
                            <a href="map-chart-cars-by-year-and-brand.html"> Cars by year and brand </a>
                            <a href="map-chart-cars-by-year-and-national-category.html"> Cars by year and national
                                category </a>
                            <a href="map-chart-cars-by-year-and-communitary-category.html"> Cars by year and
                                communitary category </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <label for="selectCountyButton"> Choose a county: </label>
    <select id="selectCountyButton"></select>

    <label for="selectCommunityButton"> Choose a communitary category: </label>
    <select id="selectCommunityButton"></select>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>

    <div class="button-container">
        <button class="downloadButton">
            <a href="#" id="downloadSVGButton"> Download as SVG </a>
        </button>

        <button class="downloadButton">
            <a href="#" id="webpDownloadButton"> Download as Webp </a>
        </button>

        <button class="downloadButton">
            <a href="#" id="csvDownloadButton"> Download as CSV </a>
        </button>
    </div>

    <footer class="footer-distributed">
        <h3><span>Apax</span></h3>
        <p class="footer-links">
            <a href="index.html">Home</a> ·
            <a href="pie-chart.html">Pie-Chart</a> ·
            <a href="bar-chart.html">Bar-Chart</a> ·
            <a href="line-chart.html">Line-Chart</a> ·
            <a href="map-chart.html">Map-Chart</a>
        </p>
        <p class="footer-company-name">Apax &copy; 2020</p>
    </footer>
    <script src="../controller/js/select.js"></script>
    <script src="../controller/js/bar-chart.js"></script>
</body>

</html>