<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Apax</title>
    <link
      rel="stylesheet"
      href="css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <!-- <link rel="stylesheet" href="css/font.css" /> -->
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <script src="../controller/js/header.js"></script>

    <div class="main-image">
      <h2 class="main-text">TO GET STARTED CHOOSE A CHART FROM HEADER</h2>
    </div>

    <script>
      document.getElementById("logout").addEventListener("click", () => {
        localStorage.removeItem("token");
        localStorage.removeItem("admin");
        var y = localStorage.length;
      });
    </script>
  </body>
</html>
