<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link
      rel="stylesheet"
      href="css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="form-wrapper">
      <form id="form" method="post">
        <div class="logo">
          Apax
        </div>

        <h2>Sign in</h2>

        <div class="input-group">
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            required
            autocomplete="email"
          />
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            required
            autocomplete="current-password"
          />
        </div>

        <div class="input-group">
          <button type="submit" class="submit-button button" name="log_user">
            Sign In
          </button>
          <p>Not a member? <a href="Register.html">Sign Up</a></p>
        </div>

        <div id="message"></div>
      </form>
    </div>

    <script>
      document.getElementById("form").addEventListener("submit", function (ev) {
        var data = new FormData(document.getElementById("form"));
        ev.preventDefault();
        var xhttp = new XMLHttpRequest();
        var form = ev.target;

        xhttp.open("POST", "../api/login.php");
        xhttp.send(data);

        xhttp.onreadystatechange = function () {
          if (xhttp.readyState === 4) {
            var response = JSON.parse(xhttp.response);
            var messageDiv = document.getElementById("message");
            if (response.success === 1) {
              messageDiv.setAttribute("class", "success");
              localStorage.setItem("token", response.token);
              localStorage.setItem("admin", response.admin);
              window.location.href = "index.html";
            } else {
              messageDiv.setAttribute("class", "error");
            }
            messageDiv.textContent = response.message;
          }
        };
      });
    </script>
  </body>
</html>
