<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pie Chart cars by county and national category</title>

    <link
      rel="stylesheet"
      href="css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.min.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <script src="../controller/js/header.js"></script>

    <div class="select-wrapper">
      <label for="selectCountyButton"> Choose a county: </label>
      <select id="selectCountyButton"></select>
    </div>

    <div class="select-wrapper">
      <label for="selectNationalButton"> Choose a national category: </label>
      <select id="selectNationalButton"></select>
    </div>

    <button id="submitButton" class="submitSelectButton">Submit</button>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>

    <div class="button-container">
      <button class="downloadButton">
        <a href="#" id="downloadSVGButton"> Download as SVG </a>
      </button>

      <button class="downloadButton">
        <a href="#" id="webpDownloadButton"> Download as Webp </a>
      </button>

      <button class="downloadButton">
        <a href="#" id="csvDownloadButton"> Download as CSV </a>
      </button>
    </div>

    <script src="../controller/js/comboboxCounties.js"></script>
    <script src="../controller/js/comboboxNat.js"></script>
    <script src="../controller/js/pie-chart.js"></script>
    <script src="../controller/js/buildChart.js"></script>
    <script src="../controller/js/chartNat.js"></script>
  </body>
</html>
