<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pie Chart cars by county and community category</title>

    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvg/1.5/canvg.min.js"></script>
    <meta charset="UTF-8" />
</head>

<body>
    <script src="../controller/js/header.js"></script>

    <div class="select-property">
        <label for="selectCountyButton"> Choose a county: </label>
        <select id="selectCountyButton"></select>

        <label for="selectCommunityButton"> Choose a communitary category: </label>
        <select id="selectCommunityButton"></select>

        <button id="submitButton"> Submit </button>
    </div>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>

    <div class="button-container">
        <button class="downloadButton">
            <a href="#" id="downloadSVGButton"> Download as SVG </a>
        </button>

        <button class="downloadButton">
            <a href="#" id="webpDownloadButton"> Download as Webp </a>
        </button>

        <button class="downloadButton">
            <a href="#" id="csvDownloadButton"> Download as CSV </a>
        </button>
    </div>

    <footer class="footer-distributed">
        <h3><span>Apax</span></h3>
        <p class="footer-links">
            <a href="index.html">Home</a> ·
            <a href="pie-chart.html">Pie-Chart</a> ·
            <a href="bar-chart.html">Bar-Chart</a> ·
            <a href="line-chart.html">Line-Chart</a> ·
            <a href="map-chart.html">Map-Chart</a>
        </p>
        <p class="footer-company-name">Apax &copy; 2020</p>
    </footer>
    <script src="../controller/js/comboboxCounties.js"></script>
    <script src="../controller/js/comboboxCom.js"></script>
    <script src="../controller/js/pie-chart.js"></script>
    <script src="../controller/js/buildChart.js"></script>
    <script src="../controller/js/chartCom.js"></script>
    <script src="../controller/js/admin.js"></script>
</body>

</html>