<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pie Chart</title>
    <link rel="stylesheet" href="css/font-awesome-4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="https://d3js.org/d3.v4.js"></script>
    <meta charset="UTF-8" />
</head>

<body>
    <header>
        <div class="topnav">
            <a href="index.html"> Home </a>
            <div class="dropdown">
                <button class="dropbtn">Charts <i class="fa fa-caret-down"> </i></button>
                <div class="dropdown-content charts-dropdown">
                    <div class="row">
                        <div class="menu-column">
                            <a href="pie-chart.html"> Pie Chart </a>
                            <a href="bar-chart.html"> Bar Chart </a>
                            <a href="line-chart.html"> Line Chart </a>
                            <a href="map-chart.html"> Map Chart </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <label for="selectButton"> Alege un judet: </label>

    <select id="selectButton">
        <option value="Bucuresti">Bucuresti</option>
        <option value="Iasi">Iasi</option>
        <option value="Vaslui">Vaslui</option>
    </select>

    <!-- Create a div where the graph will take place -->
    <div id="my_dataviz"></div>

    <footer class="footer-distributed">
        <h3><span>Apax</span></h3>
        <p class="footer-links">
            <a href="index.html">Home</a>
            ·
            <a href="pie-chart.html">Pie-Chart</a>
            ·
            <a href="bar-chart.html">Bar-Chart</a>
            ·
            <a href="line-chart.html">Line-Chart</a>
            ·
            <a href="map-chart.html">Map-Chart</a>
        </p>
        <p class="footer-company-name">Apax &copy; 2020</p>
    </footer>

    <script src="../controller/js/pie-chart.js"></script>

</body>

</html>