<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <link
      rel="stylesheet"
      href="css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="css/font.css" />
    <link rel="stylesheet" href="css/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="form-wrapper">
      <form id="form" method="post" novalidate>
        <div class="logo">
          Apax
        </div>

        <h2>Sign up</h2>

        <div class="input-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" required />
        </div>

        <div class="input-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>

        <div class="input-group">
          <label for="confirmPassword">Confirm password</label>
          <input
            type="password"
            id="confirmPassword"
            name="confirmPassword"
            required
          />
        </div>

        <div class="input-group">
          <button type="submit" class="submit-button button" name="reg_user">
            Sign Up
          </button>
          <p>Already a member? <a href="Login.html">Sign in</a></p>
        </div>

        <div id="message"></div>
      </form>
    </div>

    <script>
      document.getElementById("form").addEventListener("submit", function (ev) {
        var data = new FormData(document.getElementById("form"));
        ev.preventDefault();
        var xhttp = new XMLHttpRequest();
        var form = ev.target;

        xhttp.open("POST", "../api/register.php");
        xhttp.send(data);

        xhttp.onreadystatechange = function () {
          // console.log(xhttp.response);
          //
          if (xhttp.readyState === 4) {
            // console.log(JSON.parse(xhttp.response));
            var response = JSON.parse(xhttp.response);
            var messageDiv = document.getElementById("message");
            if (response.success === 1) {
              messageDiv.setAttribute("class", "success");
            } else {
              messageDiv.setAttribute("class", "error");
            }
            messageDiv.textContent = response.message;
          }
        };
      });
    </script>
  </body>
</html>
